* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

body {
  position: relative;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  color: $text-colour;
  background-color: #F7F4EC;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  transition: all .2s linear;
}

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  color: #fff;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red
  }

  &:required:valid {
    border-color: green
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
