header.header
  .header__logo
    img.header__logo-img(src="/assets/images/icons/main_logo.png" alt="logo")
  .header__menu
    .header__menu-mobile
      include ../../../assets/images/icons/menu.svg
    ul.header__menu-list.hidden
      li Ферма
      li О нас
      li Контакты
    .header__cart
      include ../../../assets/images/icons/cart.svg


