main.main
  section.information
    .container
      .main__picture
      .main__info
        span Изготавливаем сыр с 2005 года
      .main__header
        h1.title Французские сыры BeauRеve
      .main__description
        span Живой французский сыр по традиционным рецептам и технологиям
  section.products
    .container
      h1.title Наша продукция
      p Предлагаем насладиться уникальным вкусом и ароматом настоящего живого сыра, созданного по старинным французским рецептам и другими продуктами фермы.
      button.button Познакомиться с продукцией
